@tailwind base;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-color: #44403c;
  --header-height: 90px;
  --footer-height: 50px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* GENERAL LAYOUT STYLES */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
main {
  padding: 6rem;
  margin-bottom: 40px;
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
.title {
  text-align: center;
}
.circular {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 50%;
  z-index: 1;
}
header {
  display: flex;
  justify-content: space-around;
  height: var(--header-height);
}
footer{
  height: var(--footer-height);
  justify-content: space-evenly;
}
section {
  max-width: 75%;
  justify-content: center;
  margin-top: 50px;
}
/* LOGIN FORM */
form {
  width: 560px;
  background: white;
  margin: 10px;
  padding: 20px 40px;
  border-radius: 10px;
  position: relative;
  bottom: 50px;
}
#name, #email {
  border-bottom: solid 1px var(--border-color);
  width: 100%;
  padding-top: 10px;
}
label {
  display: block;
  margin-top: 10px;
}
span > h1 {
  margin: 20px 0;
}
button[type=button] {
  padding: 10px 20px;
  margin: 20px 0;
}
button[type=submit] {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 10px 20px;
  margin: 20px auto;
}
input:focus, 
input:active,
input:-internal-autofill-selected {
  background: white;
}
/* DOG LIST STYLES */
.dog-container {
  width: 300px;
  height: auto;
}
img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
/* PAGINATION */
.pagination {
  width: 100%;
  justify-content: center;
}
.pagination > button {
  min-width: 105px;
  padding: 10px 20px;
  margin: 20px;
}
/* WRAPPER FOR [ID] PAGE */
.wrapper{
  margin: 50px;
  padding: 50px;
  width: 50%;
  background: white;
}
.wrapper > h1{
  margin: 40px 0;
  text-align: center;
}
.wrapper > div > img {
  width: 500px;
  height: auto;
  margin: 20px;
}

.wrapper p {
  margin: 20px 10px;
}
/* SORT ORDER */
.sortInputs {
  width: 100%;
  margin: 50px;
  justify-content: center;
}
.dropdown {
  justify-content: flex-end;
  margin-top: 45px;
}
.dropdown:hover ul.dropdown-menu {
  display: block;
  cursor: pointer;
}
.dropdown > button {
  position: relative;
  bottom: 42px;
}
.sort {
  margin-right: 18px;
}
/* SEARCH BAR */
input#searchbar {
  padding:10px 20px;
  width: 350px;
}
.search-btn{
  align-items: flex-start;
  height: 44px;
  margin-right: 50px;
}


/* Media Queries */

@media (max-width: 1024px) {
  main {
    padding: 1rem;
  }
}
@media (max-width: 768px) {

  input#searchbar {
    width: auto;
  }
  section {
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  form {
    width: 100%;
  }
  .sortInputs {
    flex-wrap: wrap;
    margin: 20px;
  }
  input#searchbar {
    margin-bottom: 20px;
  }
  .search-btn {
    margin-right: 0;
  }
  .dropdown {
    margin-top: 45px;
  }
  section {
    margin-top: 0;
  }
  .wrapper{
    padding: 20px;
    width: 100%;
  }
  .wrapper > h1{
    margin: 20px 0;
  }
  .wrapper > div > img {
    width: 100%;
    min-width: 275px;
    margin: 0;
  }
  .wrapper > div {
    flex-direction: column;
  }
  .wrapper p {
    margin: 20px 10px;
  }
  footer {
    padding: 0 10px;
  }
  footer span {
    min-width: 40px;
  }
  
}